<div class="container-fluid">
    <div class="row">
    <div class="col">
        <h4>기타 포인트 로거 </h4>
        <div id="map_1" style="width:454px;height:454px">Loading : 1</div> 
    </div>
    <div class="col">
        <h4>좌표 기준 및 범위 지정</h4>
        <div id="map_center" style="width:454px;height:454px">Loading : 2</div>
    </div>
    <div class="col-2">
        <h4>목차이미지</h4>
        <div id="map_png" style="width:200px;height:400px">Loading : png</div>
    </div>
    <div class="col-2">
        <h4>목차페이지</h4>
        <div id="map_png_check" style="width:200px;height:400px">Loading : check</div>
    </div>
</div>