body{
  margin: 0;
  }

  #menubar{
      /* border: 1px solid black; */
      font-weight: lighter;
      height: 101px;
      background-color:rgb(255, 255, 255);
      position: sticky;
      top: 0;
      border-bottom: 1px solid rgb(232, 232, 232);
  }

  .left{
      display:flex;
      float:left;
      margin-left: 140.44px;
      margin-top: 16px;
      /* border: 1px solid black; */
  }

  .middle{
      /* border: 1px solid black; */
      color: rgba(255, 118, 12, 1);
      display: flex;
      float: left;
      margin-top : 21px;
      margin-left: 300px;
      font-size: 45px;
      font-weight: bold;
  }

  .right{
      /* border: 1px solid black; */
      display:flex;
      float: right;
      margin-right: 160.44px;
      margin-top : 16px;
  }

  .left_text{
      /* border: 1px solid black; */
      font-size: 20px;
      font-weight: bolder;
      margin: 20px;
  }

  .right_text{
      /* border: 1px solid black; */
      font-size: 17px;
      margin: 20px;
  }

  .right_button{
      display: flex;
      font-size: 17px;
      font-weight: bold;
  }

  .button_sign-in{
      border: 1px solid rgba(66, 70, 66, 0.78);
      border-radius: 14px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-right: 12px;
      padding-top: 11.5px;
      padding-bottom: 11.5px;
      padding-left: 12px;
      background-color: rgba(66, 70, 66, 0.78);
      color: white;
  }

  .button_log-in{
      border: 1px solid rgba(66, 70, 66, 0.78);
      border-radius: 14px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 5px;
      padding-right: 18px;
      padding-top: 11px;
      padding-bottom: 11px;
      padding-left: 18px;
      color: rgba(66, 70, 66, 0.78);

  }

  /* .login{
      border: 1px solid black;
      border-radius: 10px;
      padding-top: 11px;
      padding-left: 20px;
      padding-right: 20px;
      
  } */

  .banner{
      background-color: rgb(0, 0, 0);
      border: 1px solid black;
      height: 38px;
      text-align: center;
      /* margin-bottom: 34px; */
  }

  .banner_text{
      border: 1px solid black;
      margin-top: 8px;
      color: white;
  }


  .banner-image{
      /* width: 100%; */
      height: 600px;
  }

  main{
      /* background-color: violet; */
  }

  .main-container {
      width: 100%;
      margin: auto;
      display: flex;
      /* grid-template-columns: 568px 1214px; */
      /* gap: 10px; */
  }

  .temp-box_left {
      /* background-color: yellow; */
      width: 30%;
      height: 100%;
      /* border: 1px solid black; */
      text-align: center;
  }
  .temp-box_right {
      margin-left: 1rem;
      /* background-color: yellow; */
      width: 70%;
      height: 100%;
      /* border: 1px solid black; */
      text-align: center;
  }

  #search-category {
      background-color: rgba(255, 118, 12, 1);
      font-size: 20px;
      margin-top: 49px;
      margin-left: 375px;
      padding:20px 20px 20px 20px;
      border: 1px solid rgba(255, 118, 12, 1);
      border-radius: 80px;
      color: white;
      font-weight: bold;
  }

  .search-box {
      border: 1px solid rgb(99, 99, 99);
      border-radius: 80px;
      margin-top: 34px;
      margin-right: 568px;
      padding-top: 34px;
      padding-bottom: 34px;
      background-color: white;
      display: flex;
  }

  .recent-box {
      /* border: 1px solid black; */
      margin-top: 15px;
      margin-left: 88px;
      padding-bottom: 40px;
      display: flex;
  }

  .recent-text {
      /* border: 1px solid black; */
      margin-top: 10px;
      font-size: 12px;
  }

  .hashtag-box {
      display: flex;
      margin-left: 20px;
      font-size: 14px;
  }

  .hashtag {
      border: 1px solid black;
      border-radius: 18px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 14px;
      padding-left: 14px;
      margin-right: 5px;
  }

  .fa-search {
    padding-right: 1rem;
  }




* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  /* border:4px solid red; */
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.banner-image-container {
  /* background-color: red; */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

