
.banner{
    background-color: rgb(0, 0, 0);
    /* border: 1px solid black; */
    height: 3.3rem;
    text-align: center;
    /* margin-bottom: 34px; */
}
a{
    text-decoration: none;
}

a.hashtag:hover{
    text-decoration: none;
    color: #3f3f3fe5;
    border: 1px solid rgba(130, 128, 128, 0.76);
}
.banner_text{
    /* border: 1px solid black; */
    /* margin-top: 8px; */
    color: white;
    font-size: 1.3rem;     
    line-height: 3.3rem; 
}


.banner-image{
    /* width: 100%; */
    height: 600px;
}
/* body{
    background-color: #F0F0F0;
} */
main{
    height: fit-content;
}

.main-container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 90rem;
    /* border: 5px solid red; */
    /* margin-left: 23.4rem auto; */
    /* margin-right: 33.5rem auto; */
    /* grid-template-columns: 568px 1214px; */
    /* gap: 10px; */
}

.row1{
    display: flex;
    flex-direction: row;
    /* max-width: 1200px; */
    width: 67rem;
    margin: auto;
    /* background-color: green; */
    /* border: 1px solid black; */
}

.temp-box_left {
    /* background-color: yellow; */
    /* width: 30%; */
    /* height: 100%; */
    /* padding-left: 10.4rem; */
    margin-top: 2.3rem;
    margin-left: 1rem;
}

#search-category {
    background-color: rgba(255, 116, 10, 1);
    font-size: 1.3rem;
    /* margin-top: 49px; */
    padding:1rem 1.5rem;
    border: 1px solid rgba(255, 116, 10, 1);
    border-radius: 5rem;
    color: white;
    font-weight: bold;
    position: relative;
}
.dropdown-menu{
    border-radius: 2rem;
    border:0.5px solid #c5c4c484;

}

.dropdown-item{
    margin-bottom: 0.6rem;
    /* border:0.5px solid #c5c4c484; */
    padding-left: 1.5rem;
}


.temp-box_right {
    margin-left: 1rem;
    margin-top: 1.5rem;
    /* background-color: yellow; */
    /* width: 100%; */
    /* height: 100%; */
    margin-right: 1rem;
    /* border: 1px solid black; */
    text-align: center;
}



.d-flex
{
    position: relative;
}

#search-box {
    border: 1px solid rgba(130, 128, 128, 0.372);
    border-radius: 5rem;
    padding: 34px 0px;
    padding-left: 4.5rem;
    background-color: white;
    width: 47rem;
    height: 5.875rem;
    /* margin-right: 35.5rem; */
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    color: #3f3f3fe5;
}

#search-box:focus-visible{
    box-shadow: none;
    padding-left: 4.5rem;
    height: 5.875rem;
    font-size: 1.5rem;
    color: #3f3f3fe5;
}


input::placeholder {
    position: absolute;
    left:4.5rem;
    font-size: 1.4rem;
    font-weight: lighter;
}


.search-btn{
    position: absolute;
    border: none;
    right : 1rem;
    top : 1.3rem;
    /* width: 2.5rem;
    height: 2.5rem; */
    background-color: transparent;
}

.search-icon{
    position: absolute;
    left :1.4rem;
    top: 2rem;
    width: 2rem;
    height: 2rem;
}
.search-btn-img{
    width: 3rem;
    height: 3rem;
}

.recent-box {
    /* border: 1px solid black; */
    margin-top: 1rem;
    margin-left: 4.4rem;
    padding-bottom: 1rem;
    display: flex;
}

.recent-text {
    /* border: 1px solid black; */
    margin-top: 10px;
    font-size: 0.9rem;
    color: #3f3f3fe0;
}

.hashtag-box {
    display: flex;
    margin-left: 1rem;
}

.hashtag {
    border: 1px solid rgba(130, 128, 128, 0.372);
    border-radius: 1.8rem;
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
    padding-right: 1.2rem;
    padding-left: 1rem;
    margin-right: 0.4rem;
    font-size: 1rem;
    background-color: white;
    color: #3f3f3faf;
}

.fa-search {
    border: 1px solid black;
    margin: auto;
}



/* 슬라이드 */
.slider{
    
    /* display: flex;
    position: relative;
    flex-direction: row; */
    /* border:2px solid rgb(5, 250, 136);
    margin:auto; */
    /* margin: auto; */
    /* align-items: center;
    justify-content: center;
    height: max-content;
    width: fit-content; */
}

.image {
    /* border:5px solid black; */
    position: relative;
    padding-top:4.5rem; 
    padding-bottom: 4.8rem;
}

.image img{
    position: relative;
    width: 450px;
    height: 450px;
    margin: 0 1rem;
    border-radius: 3rem;
    -webkit-filter: grayscale(100%);
    filter:gray;     
    box-shadow: 0.5px 0.5px 3px 1px rgba(60, 60, 60, 0.479);

    /* border:5px solid black; */
}
.slick-list {

    width: 1440px;
}

.slick-center img{
    transform: scale(1.25);
    z-index: 800;
    -webkit-filter: grayscale(0%);
    box-shadow: 1px 3px 7px 2px rgba(60, 60, 60, 0.712);
    filter:none;
}

.slick-arrow{
    border:none;
    /* position: absolute; */
    width:3rem;
    display: none;

}


