<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>free_board_home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="home.css"
</head>
<body>


<!--먼저 콘테이너를 짜고 패딩 등등 설정, 포스트 라이트문서를 만들어서 여기에 불러와서 제목만 표기하고 링크를 걸어서 포스트를 볼수있게-->


<div class="container">
    <ol>
        <br>
<h1> 자유게시판 </h1>
<br>
<h4> 전체글 </h4>
    <div class="box1">
    
        <hr size="1px", width="100%" color="#E8E8E8" >
            
        <p>
            <li><a href="/free_board/home/">제목</a></li>
        </p>
            
        <hr size="1px", width="100%" color="#E8E8E8" >
    
        </div>
    </border> 
    </ol>
</div>


</body>
</html>