body{
    margin: 0;
    }

    nav{
        /* border: 1px solid black; */
        display: flex;
        /* flex-direction: row; */
        justify-content: space-between;
        font-weight: lighter;
        height: 6.4rem;
        background-color:rgb(255, 255, 255);
        position: sticky;
        top: 0;
        border-bottom: 1px solid rgb(232, 232, 232);
        /* width: 100%; */
    }

  
    nav a{
      text-decoration: none;
    }
  
    .left{
        display:flex;
        float:left;
        margin-left: 10rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        /* border: 1px solid black; */

        }
  
    .middle{
        /* border: 1px solid black; */
        color: #FF760C;
        /* display: flex; */
        /* float: left; */
        font-size: 3rem;
        font-weight: bold;
        line-height: 5.8rem;
    }
  
    .lefttext{
        /* border: 1px solid black; */
        font-size: 1.25rem;
        font-weight: bolder;
        margin: 15px;
        color:rgb(70,69,69);
        /* border-radius: 14px; */
        }
    
    .right{
        /* border: 1px solid black; */
        display:flex;
        /* float: right; */
        margin-right: 10rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
      
  
    .right_text{
        /* border: 1px solid black; */
        color:rgba(255, 118, 12, 1);
        font-size: 17px;
        margin: 22px 20px 20px 20px;
        font-weight: bolder;
    }
  
    .right_button{
        display: flex;
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        /* margin: 15px; */
    }
  
    #button_sign-in{
        /* border: 1px solid rgba(66, 70, 66, 0.78); */
        border-radius: 14px;
        margin-right: 0.5rem;
        /* margin-top: 10px;
        margin-bottom: 10px; */
        padding:11.5px 12px;
        color: white;
        background: #5a5b5a61;

 
    }

    a#button_log-in:hover {
    background: #5a5b5a61;
    transition:.2s;
    /* border: 1px solid black; */
    color: white;
    border: 1px solid #bfbfbf51;
  }
    
  
    #button_log-in{
        border: 0.5px solid #5a5b5a61;
        border-radius: 14px;
        /* margin-top: 10px;
        margin-bottom: 10px; */
        padding-right: 19px;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 19px;
        color: rgba(66, 70, 66, 0.78);
    }

    @media (max-width: 1300px){

        html{
            font-size: 14px;
        }

        .middle{
            font-size:2.3rem;
            margin-left: 1rem;
        }
        .lefttext{
            font-size:1rem;
        }
        .left{
            margin-left:4rem;
        }
        .right{
            margin-right: 4rem;
        }
        .right_text{
            font-size:14px;
        }

        .right_button{
            font-size:14px;
            padding-right: 10px;
            padding-top: 0px;
            padding-bottom: 3px;
            padding-left: 10px;
        }
    


    }