
<h1>Sign Up</h1>
{% if error %}
<h4>{{ error }}</h4>
{% endif %}
<form method="post" action="{% url 'accounts:sign-up' %}">
    {% csrf_token %}
    <div>
        <label for="firstname"></label>
        <input id="firstname" type="text" name="firstname" placeholder="이름(닉네임)">
    </div>
    <div>
        <label for="username"></label>
        <input id="username" type="text" name="username" placeholder="아이디(메일주소)">
    </div>
    <div>
        <label for="password"></label>
        <input id="password" type="password" name="password" placeholder="비밀번호">
    </div>
    <div>
        <label for="password_check"></label>
        <input id="password_check" type="password" name="password_check" placeholder="비밀번호 확인">
    </div>
    <div>
        <label for="phone_number"></label>
        <input id="phone_number" type="text" name="phone_number" placeholder="전화번호(선택, - 빼고 입력해주세요!)">
    </div>
    <div>
        <button type="submit">계정 만들기</button>
    </div>
</form>
