<!DOCTYPE html>
<html>
<head>
    {% extends 'base.html' %}
    {% block content %}
    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/slick.css' %}">
    <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />

</head>
<body>
    <div class ="banner">
        <div class="banner_text">아직 베타서비스 중이라 준비중인 기능이 많습니다.</div>
    </div>

    <main>
        <div class="main-container">
            <div class="row1">
                <div class="temp-box_left">
                    <div class="btn btn-secondary dropdown-toggle" type="button" id="search-category" data-bs-toggle="dropdown" aria-expanded="false">등산 코스&nbsp;&nbsp;</div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <!-- <div class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">트레킹 코스</div> -->
                        <a class="dropdown-item" href="#">트레킹 코스</a>
                        <a href="#" class="dropdown-item" >도보여행(올레길)</a>
                        <a href="#" class="dropdown-item" >달리기 코스</a>
                    </div>
                </div>

                <div class="temp-box_right">
                    <div class="d-flex">
                        <form action="/search_results/" method="get">
                            <img class="search-icon" src="{% static 'search_results/assets/search-icon.jpg' %}" >
                            <input id="search-box" class="form-control rounded-pill"  name="query" type="text" placeholder="지리산, 단풍명소, 일출산행" aria-label="Search" >
                            <button class="search-btn"  type="submit">
                                <img class="search-btn-img" src="{% static 'landing/assets/search-arrow.jpg' %}" >
                            </button>
                        </form>
                    </div>

            
                    <div class="recent-box">
                        <div class="recent-text">요즘 뜨는 태그들</div>
                        <div class="hashtag-box">
                            <a class="hashtag" href="#" >#가을산</a>
                            <a class="hashtag" href="#">#억새맛집</a>
                            <a class="hashtag" href="#">#블랙야크 100대명산</a>
                            <a class="hashtag" href="#">#충청도산</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider">
                    <div class="image">
                        <img src="{% static 'landing/assets/mainpage_photo1.jpg' %}">
                    </div>
                    <div class="image">
                        <img src="{% static 'landing/assets/mainpage_photo3.jpg' %}">
                        <div></div>
                    </div>
                    <div class="image">
                        <img src="{% static 'landing/assets/mainpage_photo2.jpg' %}">
                    </div>
                    <div class="image">
                        <img src="{% static 'landing/assets/mainpage_photo1.jpg' %}">
                    </div>
                    <div class="image">
                        <img src="{% static 'landing/assets/mainpage_photo3.jpg' %}">
                    </div>
                    <div class="image">
                        <img src="{% static 'landing/assets/mainpage_photo2.jpg' %}">
                    </div>
                
            </div>
        </div>
             
        

        
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'landing/js/slick.min.js' %}"></script>
    <script src="{% static 'landing/js/scripts.js' %}"></script>
    <script>
        $(function () {
            $('.slider').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                dots: false,
                autoplay: false,
                autoplaySpeed: 0,
                centerMode: true,
                centerPadding:'0px',
                arrows: true,
            });
        })
    </script>

</body>
{% endblock %}
</html>
