nav{
    z-index: 4;
}
/* 이하 상세페이지 css */
 .body{
     background-color: rgb(247, 247, 250);
     margin: 2rem 22rem 0rem 22rem;
     border-radius: 1.5rem;
     height: fit-content;
 }

 .mainimage-box{
     display:flex;
     /* border:0.1rem solid black; */
     width: fit-content;
     margin: auto;
     padding-top: 1.5rem;
     position: relative;
     box-sizing: border-box;

 }

 .mainimage1{
     /* border: 0.1rem solid red; */
     border-radius: 1.5rem;
     margin-right: 1rem;
     box-sizing: border-box;
     width: 41rem;
     height: 22rem;
     z-index: 1;
 }

 .mainimage2{
     /* border: 0.1rem solid blue; */
     border-radius: 1.5rem;
     width: 21rem;
     height: 22rem;
     box-sizing: border-box;
     z-index: 3;

 }

 .content-box{
     background-color: white;
     width:58.5rem;
     height:fit-content;
     margin: auto;
     /* border: 0.1rem solid orange; */
     border-radius: 2rem;
     margin-top: -7rem;
     position: relative;
     z-index: 2;
 }

 .mnt_name{
     /* border:0.1rem solid black; */
     font-size: 3rem;
     font-weight: bold;
     margin: 5rem 2rem 0 2rem;
     padding-top: 2rem;
 }

 .atit{
     display: flex;
     /* border:0.1rem solid black; */
     margin: 0.3rem 2rem 0 2rem;
     font-size: 1.7rem;
     width: fit-content;
             }

 .atiticon{
     /* border:0.1rem solid black; */
     width:2.4rem;
     height:2.4rem;
     float:left;
     margin-right: 0.5rem;
 }

 .mnt_atit{
     /* border:0.1rem solid black; */
     padding-top: 0.3rem;
 }

 .tag-box{
     /* border:1px solid black; */
     display: flex;
     margin:2.5rem 2rem 1.5rem 2rem;
     width: fit-content;

 }

 .tag{
     /* border:1px solid black; */
     background-color: rgb(242, 245, 248);
     margin-right: 1rem;
     padding:0.4rem 0.7rem 0.4rem 0.7rem;
     font-size: 0.9rem;
     font-weight: bold;
     border-radius: 0.5rem;
     color: rgb(67, 77, 85);
 }
 
 .info_long{
     margin:0 2rem 2rem 2rem;
     /* border:1px solid black; */
     border-radius: 2rem;
     padding: 1.8rem 1.5rem 1.8rem 1.5rem;
     background-color: rgb(242, 245, 248);
     color: rgb(67, 77, 85);
     line-height: 1.8rem;
 }

 .crs-box{
     /* border:1px solid black; */
     display: flex;
     border-radius: 1rem 1rem 0rem 0rem;
     background-color: rgb(255, 118, 12) ;
 }
 
 .crs{
     /* border:1px solid rgb(255, 118, 12); */
     padding:1rem;
     font-size: 1.1rem;
     margin-top: 0.2rem;
     margin-left: 0.2rem;
     border-radius: 1rem 1rem 0rem 0rem;
     color: white;
     font-weight: bold;
 }

 #selected{
     background-color: white;
     color: black;
 }

 .contentbox-1{
     margin: 4rem 2rem 2rem 2rem;
     border-bottom: 1px solid #E8E8E8;
     padding-bottom: 4rem;
     height: fit-content;
 }

 .title-1{
     display: flex;
     /* border: 1px solid black; */
 }

 .form-check{
     /* border: 1px solid black; */
 }

 .titletext-1{
     font-size: 1.2rem;
     padding-top: 0.25rem;
     padding-left: 0.2rem;
     font-weight: 700;
 }

 .content-1{
     display: flex;
     /* border: 1px solid black; */
     margin: 2rem 2.1rem ;
 }
 
 .route_str_1_start{
     padding: 1.2rem 1rem 0rem 1rem;
 }

 .route_str_1_end{
     padding: 1.2rem 1rem 0rem 1rem;
 }

 .return-txt{
     /* border:1px solid black; */
     padding-top: 0.4rem ;
     font-size: 0.25rem;
 }

 hr{
     width: 4rem;
     border: 0.01rem orange;
     margin-bottom: 0.3rem;
 }
 
 .howtogo-box{
     /* border: 1px solid black; */
     margin-left: 30rem;
     width: fit-content;
     font-size:0.8rem;

     /* float: right; */
 }

 .transport{
     /* border: 1px solid black; */
     display: flex;
 }

 .car{
     display: flex;
 }

 .kakaoicon{
     /* border:0.1rem solid black; */
     width:2.1rem;
     height:2.1rem;
     float:left;
     margin-right: 0.5rem;
 }

 .navericon{
     /* border:0.1rem solid black; */
     width:2.1rem;
     height:2.1rem;
     float:left;
     margin-right: 0.5rem;
 }

 .car-txt{
     /* border:1px solid blue; */
     margin-right: 1.2rem;
 }
 
 .route_str_2_start{
     padding: 1.2rem 1rem 0rem 1rem;
 }

 .route_str_2_end{
     padding: 1.2rem 1rem 0rem 1rem;
 }

 .return-txt{
     /* border:1px solid black; */
     padding-top: 0.4rem ;
     font-size: 0.25rem;
 }

 .content-2{
     /* border: 1px solid black; */
     margin-top: 2rem;
     margin-left:3.1rem;
     margin-right:2.1rem;
     line-height: 2.3rem;
     font-size:0.9rem;
     /* padding-left:1rem; */
 }
 .ect_info{
     padding-top: 1rem;
 }

 .short-map{
     display: flex;
     /* border: 0.1rem solid black; */
     width: fit-content;
     margin:auto;
 }

 .short-map_img{
     margin-top:3rem;
     border-radius: 1rem;
 }

 #short-map_img_1{
     margin-right: 2rem;
 }
